*{
	margin:0;
	padding:0;
}
body{
	background-color: rgb(255, 255, 255);
	margin: 0;
}
/*---------------------header----------------------*/
header{
	background-color: rgb(41, 41, 41);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 12px 12px 0 0;
}
#logo{
	margin-left: 3%;
	width: 12em;
	height: 10em;
}
#RRSS{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
#RRSS a{
	width: 5em;
	height: 5em;
}
.rrss{
	width: 100%;
	height: 100%;
}
#Idiomas{
	display: flex;
	flex-direction: row-reverse;
	align-self: center;
	margin-right: 1em;
}
.banderas{
	margin: 0 0.5em 0 0 ;
	width: 4em;
	height: 3.5em;
}
.banderas:hover{
	cursor: pointer;
}
/*----------------fin header--------------*/
/*--------------------nav-----------------*/
nav{
	width: 100%;
	background-color: rgb(110, 110, 110);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
nav li{
	list-style-type: none;
	text-decoration: none; 
	color: white;
   	background-color: rgb(15, 95, 5);
   	border: 0.0625em solid black;
   	padding: 0.5em;
	border-radius: 10px;
	margin: 0.5em 0 0.5em 0.5em;
}
nav li:hover{
	background-color: rgb(41, 41, 41);
	border-color: white;
	cursor: pointer;
}
nav a {
	text-decoration: none;
}
#Bcliente{
	display: flex;
	margin-left: 2%;
}
#Btrabajador {
	margin-right: 2%;
}
/*-------------------fin nav----------------*/
/*------------------contenido---------------*/
#contenido{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #EEEEEE;
	justify-content: center;
	width: 100%;
	font-size: 18px;
}
#contenido h1{
	margin-top: 1em;
	font-size: 40px;
}
#infGen{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 2em;
	width: 100%;
}
#texto{
	text-align: justify;
	width: 40%;
}
#imgInfGen{
	width: 40%;
	border-radius: 25px;
}
#mapaInfo{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-bottom: 5em;
	margin-top: 3em;
	margin-right: 2em;
}
#mapa{
	width: 40%;
	height: 25em;
	border-radius: 20px;
	
}
#mapa iframe {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 1.5px solid black;
}
#info{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(110, 110, 110);
	width: 40%;
	height: 20em;
	border-radius: 20px;
}
#info h2{
	margin: 0 0 2% 0;
	text-align: center;
}
#infoUL {
	margin-left: 10%;
}
.subinfo{
	margin-left: 5%;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(41, 41, 41);
	color: white;
	border-radius: 0 0 12px 12px;
	height: 50px;
}
/*----------------Contenido trabajador--------*/
#seleccionTienda{
	margin-top:2%;
	text-align:center;
}
#seleccionTienda form{
	margin:2%;
}
#Sectrabajador{
	height: 16em;
}
/*----------------fin trabajador--------------*/
/*----------------Contenido tienda------------*/
.TituloGestion{
	text-align:center;
	margin-top:2%;
}
#submenu{
	text-align:center;
	margin-top:2%;
}
#container{
	margin-top:2%;
	text-align:center;
}
/*----------------fin tienda------------------*/
/*----------------fin contenido---------------*/
/*-------------------Tiendas------------------*/
#tiendas{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
#tiendas h1{
	margin: 1% 0;
	font-size: 34px;
}
.tienda{
	width: 95%;
	background-color: rgb(41, 100, 34);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 2em 0;
	border-radius: 10px;

}
.tienda h2{
	margin: 1% 0;
	font-size: 25px;
}
.productos {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 0 2em 0;
}
.producto{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	background-color: white;
	border-radius: 20px;
	border: 1px solid black;
	justify-content: space-between;
	padding: 1em 0;
}
.producto h3 {
	margin: 1em 0;
}
.descPrecio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 5em;
	margin-top: 1em;
}
.Agotado {
	color: red;
}
.imgProd {
	width: 60%; 
}
/*-----------------Fin Tiendas----------------*/
/*------------------Responsive----------------*/
@media screen and (max-width: 1000px) {
	body{
		font-size: 13px;
	}
	#logo{
		width: 9em;
		height: 8em;
	}
	#RRSS a{
		width: 4em;
		height: 4em;
	}
	#RRSS {
		margin-left: 1em;
	}
	.banderas{
		width: 3em;
		height: 2.5em;
	}
	#contenido {
		font-size: 15px;
	}
	#contenido h1{
		font-size: 35px;
	}
	#texto{
		width: 45%;
	}
	#imgInfGen{
		width: 45%;
	}
	#mapa{
		width: 45%;
	}

}
@media screen and (max-width: 700px) {
	body{
		font-size: 14px;
	}
	#logo{
		width: 9em;
	}
	#RRSS a{
		width: 4em;
		height: 4em;
	}
	#RRSS {
		margin-left: 1em;
	}
	.banderas{
		width: 3em;
		height: 2.5em;
	}
	nav{
		width: 100%;
		flex-direction: column;
	}
	nav ul {
		align-content: center;
		flex: 100%;
	}
	nav li{
	   	padding: 0.5em;
	   	margin: 0;
		border-radius: 0px;
		border: none;
	}
	#Bcliente{
		width: 100%;
		flex-direction: column;
		margin: 0;
		text-align: center;
	}
	#Btrabajador {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}
	#contenido {
		font-size: 15px;
	}
	#contenido h1{
		font-size: 35px;
	}
	#texto{
		width: 90%;
	}
	#imgInfGen{
		width: 90%;
		margin-top: 2em;
	}
	#mapaInfo {
		margin: 0;
	}
	#mapa{
		width: 90%;
		margin-top: 2em;
	}
	#info{
		width: 90%;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	#tiendas h1{
		margin: 0.5em 0;
		font-size: 28px;
	}
	.tienda{
		width: 80%;
	}
	.tienda h2{
		margin: 0.7em 0;
		font-size: 20px;
	}
	.productos {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.producto {
		width: 60%;
		margin-bottom: 1em;
	}
	.producto h3 {
		margin: 0.3em 0;
	}
	.descPrecioBot:hover{
		cursor: pointer;
	}
}
@media screen and (max-width: 550px){
	header{
		flex-direction: column;
		align-items: center;
	}
	#logo{
		margin: 0;
	}
	#RRSS{
		margin: 0.6em 0;
	}
	#Idiomas{
		margin: 0.6em 0;
	}
	#inglesa{
		margin: 0;
	}
}
/*----------------Fin Responsive-------------*/